/*
    Css rules for when using the selected fonts:
font-family: 'Contrail One', cursive;
font-family: 'Cormorant', serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Niramit', sans-serif;
font-family: 'Assistant', sans-serif;*/

body {
    background: rgb(22, 31, 32);
    color: white;
}

.box-1 {
    margin: 0;
    padding: 0;
    background: rgb(42, 48, 49);
    overflow: hidden;
}

ul {
    list-style-type: none;
    display: flex;
    height: 80px;
}

li {
    display: flex;
    justify-content: right;
    line-height: 80px;
}

li:first-child {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Assistant', sans-serif;
}

li a {
    margin-left: 35px;
    justify-content: right;
}

a {
    text-decoration: none;
    color: peru;
    font-family: 'Niramit', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

a:hover {
    color: rgb(226, 200, 236);
    border-bottom: rgb(226, 200, 236);
}

#first {
    color: rgb(161, 106, 137);
}

#first:hover {
    color: white;
}

.circle1 {
    background: rgba(161, 106, 137, 0.671);
    height: 50px;
    width: 50px;
    clip-path: circle(50%);
    position: absolute;
}

.circle2 {
    background: rgba(245, 205, 131, 0.671);
    height: 50px;
    width: 50px;
    clip-path: circle(40%);
    position: absolute;
    top: 100px;
}

.circle3 {
    background: rgba(93, 47, 73, 0.671);
    height: 50px;
    width: 50px;
    clip-path: circle(20%);
    position: absolute;
    top: 80px;
}

/* li:nth-of-type(6-7) //6-7*/
/* Nav bar Design */

/* li:nth-of-type(6) {
    
}

li:nth-of-type(7) {
    
} */

.container-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.welcome {
    flex: 3;
    background: rgb(116, 48, 86);
}

.welcome h1 {
    font-family: "Niramit", sans-serif;
    color: rgba(245, 205, 131, 0.671);
    text-transform: uppercase;
}

.welcome p {
    font-family: 'Contrail One', cursive;
}

.side-1 {
    flex: 1;
    background-color: rgb(61, 62, 63);
    margin-left: 5px;
}

.side-1 h2 {
    font-family: 'Assistant', sans-serif;
    color: rgba(245, 205, 131, 0.671);
    text-transform: uppercase;
}

.side-1 p {
    font-family: "Niramit", sans-serif;
    font-weight: 700;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    border: 10px solid rgb(61, 62, 63);
    background:rgba(245, 205, 131, 0.671);
}